@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}


@keyframes move-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 12px));
    }
}

@-webkit-keyframes move-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 12px));
    }
}


@keyframes move-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(calc(0% + 12px));
    }
}


@-webkit-keyframes move-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(calc(0% + 12px));
    }
}
